html {
    font-size: 16px;
}

.background-context {
    text-align: center;
    padding: 2rem;
}

.background-btn {
    padding: 0.7rem;

    font-size: 1rem;
    border: none;
    border-radius: 0.2rem; 

    color: white;
    background-color: #4D63A1;
}

.fon-modal-window {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    height: 100%;

    display: flex;
    flex-direction: row;
    background: rgba(0,0,0,0.5);   
}

.modal-window {
    width: 18rem;
    height: 13rem;
    padding: 1rem;
    margin-top: 5rem;
    margin-left: calc((100% - 20rem)/2);

    background: white;
}

.modal-window > i {
    opacity: 50%;
    float: right;
}

.modal-window > hr {
    opacity: 50%;
}

.modal-window-btn {
    text-align: right;
    margin: 5rem 0rem 0 10rem;
}

.modal-btn {
    padding: 0.3rem 0.5rem;
    
    border-radius: 0.2rem;
    border: none;
    color: white;
    background-color: #43568B;
}